$res_1640: "only screen and (min-width: 1640px) and (max-width: 1759px)";
$res_1760: "only screen and (min-width: 1760px) and (max-width: 1799px)";
$res_1800: "only screen and (min-width: 1800px) and (max-width: 1899px)";
$res_1860: "only screen and (min-width: 1860px)";

@mixin responsive_1640() {
  @media #{$res_1640} {
    @content;
  }
}

@mixin responsive_1760() {
  @media #{$res_1760} {
    @content;
  }
}
@mixin responsive_1800() {
  @media #{$res_1800} {
    @content;
  }
}
@mixin responsive_1860() {
  @media #{$res_1860} {
    @content;
  }
}

@include responsive_1640 {
  .container {
    // width: 1300px;
  }
}

@include responsive_1760 {
  .container {
    // margin-left: -62px;

    &_right {
      margin-left: 10px;
    }
  }
}

@include responsive_1800 {
  // .container {
  //   margin-left: -62px;

  //   &_right {
  //     margin-left: 16px;
  //   }
  // }
}

@include responsive_1860 {
  .container {
    // width: 1500px;
  }
}

.container {
  // margin-left: -62px;

  &_content {
    // margin-left: -40px;
    &_text {
      margin-left: 20px;
      display: flex;

      h2 {
        font-weight: 700;
        font-size: 16px;
        width: 100px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  // &_right {
  //   margin-left: 24px;
  //   &_wrapper {
  //     h2 {
  //       font-weight: 700;
  //       font-size: 16px;
  //     }

  //     span {
  //       color: #000;
  //       font-size: 16px;
  //       font-weight: 300;
  //     }
  //   }
  // }
}
