.container {
    &_monitor {
      img {
      }
    }
    span {
      // margin-left: 26px;
    }
    &_btn {
      margin-left: -14px;
      margin-top: 10px;
      &_icon {
        font-size: 34px;
      }
      img {
        margin-bottom: 28px;
      }
    }
  }
  