.container {
  // margin-left: 40px;

  &_note {
    h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &_parameter {
    margin-top: 8px;
    h2 {
      font-size: 16px;
      font-weight: 700;
    }
    &_display {
      div {
        h2 {
          margin-left: 20px;
          margin-top: 8px;
          font-size: 16px;
        }

        span {
          text-align: center;
          display: block;
          color: #2eb100;
          font-size: 50px;
        }
      }
    }
  }
}

// .text {
// }
