.container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  position: relative;

  .wrapper {
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 20px;
    width: 450px;
    height: 550px;
    top: 250px;
    right: 200px;
    background: rgb(14 25 60 / 76%)6px 5px #021da5;
    box-shadow: 12px 10px 46px 5px #021da5;
    .header {
      font-size: 2.5rem;
      color: #100cee;
      font-style: italic;
      text-align: center;
      margin-top: 4rem;
      text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
        #0747f7 0px 0px 20px, #102fdf 0px 0px 30px, #2a60f3 0px 0px 40px,
        #1358ee 0px 0px 50px, #080bdd 0px 0px 75px;
    }
    .form {
      margin-top: 5rem;
    }
  }
}
