// .container {
//   // margin-left: -20px;

//   &_content {
//     margin-left: -40px;
//     &_text {
//       display: flex;

//       h2 {
//         font-weight: 700;
//         font-size: 16px;
//         width: 100px;
//       }

//       span {
//         color: #000;
//         font-size: 16px;
//         font-weight: 300;
//       }
//     }
//   }
//   &_right {
//     margin-left: 24px;
//     &_wrapper {
//       h2 {
//         font-weight: 700;
//         font-size: 16px;
//       }

//       span {
//         color: #000;
//         font-size: 16px;
//         font-weight: 300;
//       }
//     }
//   }
// }
