.wrapper {
  text-align: center;
  .icon {
    font-size: 2rem;
    color: #2d49d3;
    cursor: pointer;
  }
}

.menu {
  font-size: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}
