.container {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;

  .selectsWrapper {
    justify-content: center;
    justify-items: center;
    display: flex;
    margin: 1rem 0 1rem 0;
    .selects {
      flex: 1;
      margin: 0 10px 0 10px;

      .select {
        width: 100%;
        height: auto;
      }
    }
  }

  .title {
    position: absolute;
    color: red;
    right: 10px;
    bottom: -35px;
    cursor: pointer;
    font-size: 1rem;
  }

  .button {
    text-align: right;
    margin: 0 1rem 1rem 0;
  }

  .dateWrapper {
    display: flex;
    justify-content: flex-start;
    margin: 16px 10px 16px 10px;
    justify-items: space;

    h3 {
      padding: 6px 0 6px;
    }
    .picker {
      margin: 0 4rem 0 4rem;
      line-height: 30px;
    }
  }
}
