.container {
    
    min-height: 300px;
    justify-content: space-between;
    display: flex;

    .left {
        flex: 1;
        border: 1px solid #ccc;
        margin-right: 1rem;

        .inputItem {
            display: flex;
            justify-content: flex-start;
            line-height: 32px;
            margin: 5px 0 0 1rem;

        }
    }

    .right {
        flex: 1;
        border: 1px solid #ccc;
        margin-left: 1rem;
    }
}