.nav {
  font-size: 15px;
  font-weight: 600;
}

.img {
  color: red;
}
.logo {
  margin-left: -50px;
  height: 64px;
  width: 252px;
}

.header {
  display: block;
  float: right;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  .bell {
    font-size: 25px;
    color: white;
    margin-left:25px
  }

  .username {
    color: white;
    float: right;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 20px 0 20px;
  }
  .avatar {
    float: right;
  }
  .select {
    width: 150px;
  }
}
