.container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  min-height: 720px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .wrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 280px;
    width: 340px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 10px;

    .image {
      background-color: rgb(92, 92, 92);
      width: 100%;
      height: 75%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      display: flex;

      .camera {
        font-size: 3rem;
        color: white;
      }
    }
    .title {
      margin: 0.5rem 1rem 0.5rem 0;
      color: #242222cc;
    }
  }
}

.modalWrapper {
  display: flex;
  justify-content: space-between;
  
  .item {
    flex: 1;
    margin: 1rem 1rem 1rem 1rem;

    .header {
    }

    .dateWrapper {
      display: flex;
      justify-content: space-between;

      .date {
        width: 45%;;
      }
    }
  }
}
