// .container {
//     &_content {
//       &_text {
//         display: flex;

//         h2 {
//           font-weight: 700;
//           font-size: 16px;
//           width: 100px;
//         }

//         span {
//           color: #000;
//           font-size: 16px;
//           font-weight: 300;
//         }
//       }
//     }
//     &_right {
//       &_wrapper {
//         h2 {
//           font-weight: 700;
//           font-size: 16px;
//         }

//         span {
//           color: #000;
//           font-size: 16px;
//           font-weight: 300;
//         }
//       }
//     }
// }

.container {
  display: flex;
  flex-direction: row;
  &_left {
  }

  &_content {
    &_text {
      display: flex;

      h2 {
        font-weight: 700;
        font-size: 16px;
        width: 100px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  &_right {
    &_wrapper {
      h2 {
        font-weight: 700;
        font-size: 16px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
