// .container {
//     &_content {
//       &_text {
//         display: flex;
  
//         h2 {
//           font-weight: 700;
//           font-size: 16px;
//           width: 100px;
//         }
  
//         span {
//           color: #000;
//           font-size: 16px;
//           font-weight: 300;
//         }
//       }
//     }
//     &_right {
//       &_wrapper {
//         h2 {
//           font-weight: 700;
//           font-size: 16px;
//         }
  
//         span {
//           color: #000;
//           font-size: 16px;
//           font-weight: 300;
//         }
//       }
//     }
// }
.container {
  display: grid;
  // grid-template-columns: 200px 250px 150px;
  width: 50%;
  &_left {

  }

  &_content {

  }

  &_right {
    
  }
}
  