$res_1640: "only screen and (min-width: 1640px) and (max-width: 1759px)";
$res_1760: "only screen and (min-width: 1760px) and (max-width: 1799px)";
$res_1730: "only screen and (min-width: 1800px) and (max-width: 1859px)";
$res_1860: "only screen and (min-width: 1860px)";

@mixin responsive_1640() {
  @media #{$res_1640} {
    @content;
  }
}

@mixin responsive_1760() {
  @media #{$res_1760} {
    @content;
  }
}
@mixin responsive_1800() {
  @media #{$res_1800} {
    @content;
  }
}
@mixin responsive_1860() {
  @media #{$res_1860} {
    @content;
  }
}

@include responsive_1640 {
  .container {
  }
}

@include responsive_1760 {
  .container {
  }
}

@include responsive_1800 {
  .container {
  }
}

@include responsive_1860 {
  .container {
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex: 33, 33%;

  // align-items: center;
  margin-left: 30px;

  &_left {
  }

  &_content {
    &_text {
      display: flex;

      h2 {
        font-weight: 700;
        font-size: 16px;
        width: 100px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  &_right {
    margin-left: 18px;
    &_wrapper {
      h2 {
        font-weight: 700;
        font-size: 16px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
