$res_1760: "only screen and (min-width: 1760px) and (max-width: 1799px)";
$res_1800: "only screen and (min-width: 1800px) and (max-width: 1899px)";
$res_1860: "only screen and (min-width: 1860px)";

@mixin responsive_1760() {
  @media #{$res_1760} {
    @content;
  }
}
@mixin responsive_1800() {
  @media #{$res_1800} {
    @content;
  }
}
@mixin responsive_1860() {
  @media #{$res_1860} {
    @content;
  }
}

@include responsive_1760 {
  .container {
    width: 1300px;
  }
}

@include responsive_1800 {
  .container {
    width: 1400px;
  }
}

@include responsive_1860 {
  .container {
    width: 1500px;
  }
}