.container {
  // height: 104px;
  // display: block;
  height: 500px;
  width: 200px;

  &_content {
    display: flex;
    margin-left: 146px;
    // margin-bottom: 30px;

    &_text {
      width: 320px;
    }

    &_select {
      margin-bottom: 14px;
    }
  }
}
