.container {
  // height: 104px;
  // display: block;
  height: 100px;
  // width: 200px;

  &_content {
    display: flex;
    margin-left: 146px;
    // margin-bottom: 30px;
    // margin-bottom: 4px;

    &_text {
      width: 210px;
    }

    &_select {
      // margin-bottom: 2px;
    }
  }
}
