.container {
    margin-left: 76px;
    &_title {
      display: flex;
      margin-bottom: 20px;
      &_content {
        //   display: inline-table;
        width: 200px;
      }
  
      &_link {
        width: 800px;
        height: 32px;
        border: 1px solid #ccc;
  
        p {
          // line-height: 32px;
          margin-left: 10px;
        }
      }
    }
  }
  