$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200: "only screen and (min-width: 1200px)";

.container {
  width: 1500px;
  height: 390px;
  border: 1px solid #000;
  margin-bottom: 16px;
  // margin-left: 20px;

  @media screen and (min-width: 1024px) {
    width: 1200px;
  }

  &_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #d9d9d94d;

    &_switch {
      margin-top: 10px;
      margin-right: 12px;
    }

    h1 {
      font-size: 16px;
      margin-left: 16px;
      line-height: 38px;
    }
  }

  &_btnSave {
    // margin-top: 200px;
    background-color: #d9d9d94d;
    height: 48px;
    border-top: 1px solid #000;
    margin-top: 94px;
  }
}
