$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200: "only screen and (min-width: 1200px)";

@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}
@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}

.container {
  width: 1300px;
  @include responsive_1024 {
    .container {
      width: 1300px;
    }
  }
  height: 390px;
  border: 1px solid #000;
  margin-bottom: 16px;
  // margin-left: 20px;

  &_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #d9d9d94d;

    &_switch {
      margin-top: 10px;
      margin-right: 12px;
    }

    h1 {
      font-size: 16px;
      margin-left: 16px;
      line-height: 38px;
    }
  }

  &_btnSave {
    // margin-top: 200px;
    background-color: #d9d9d94d;
    height: 48px;
    border-top: 1px solid #000;
    margin-top: 94px;
  }
}
