.container {
  width: 1500px;
  height: 390px;
  border: 1px solid #000;
  margin-bottom: 16px;
  // margin-left: 20px;

  &_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #d9d9d94d;

    &_switch {
      margin-top: 10px;
      margin-right: 12px;
    }

    h1 {
      font-size: 16px;
      margin-left: 16px;
      line-height: 38px;
    }
  }

  &_btnSave {
    // margin-top: 200px;
    background-color: #d9d9d94d;
    // height: 48px;
    border-top: 1px solid #000;
    margin-top: 94px;
  }
}
