$res_1640: "only screen and (min-width: 1640px) and (max-width: 1759px)";
$res_1760: "only screen and (min-width: 1760px) and (max-width: 1799px)";
$res_1800: "only screen and (min-width: 1800px) and (max-width: 1899px)";
$res_1860: "only screen and (min-width: 1860px)";

@mixin responsive_1640() {
  @media #{$res_1640} {
    @content;
  }
}

@mixin responsive_1760() {
  @media #{$res_1760} {
    @content;
  }
}
@mixin responsive_1800() {
  @media #{$res_1800} {
    @content;
  }
}
@mixin responsive_1860() {
  @media #{$res_1860} {
    @content;
  }
}

@include responsive_1640 {
  .container {
    width: 1124px;
  }
}

@include responsive_1760 {
  .container {
    width: 1196px;
  }
}

@include responsive_1800 {
  .container {
    width: 1300px;
  }
}

@include responsive_1860 {
  .container {
    width: 1390px;
  }
}

.container {
  width: 1600px;
  height: 390px;
  border: 1px solid #000;
  margin-bottom: 16px;
  // margin-left: 20px;

  &_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #d9d9d94d;

    &_switch {
      margin-top: 10px;
      margin-right: 12px;
    }

    h1 {
      font-size: 16px;
      margin-left: 16px;
      line-height: 38px;
    }
  }

  &_btnSave {
    // margin-top: 200px;
    background-color: #d9d9d94d;
    height: 48px;
    border-top: 1px solid #000;
    margin-top: 94px;
  }
}
