.field {
  color: white;
  text-align: left;
  font-weight: 500;
}
.button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  position: absolute;
  transform: translate3D(-50%, -50%, 0);
  color: #fff;
  border: 2px solid #fff;
  background-color: #0d31d4;

  &:before,
  &:after {
    width: 0%;
    height: 2px;
    position: absolute;
    background: #0d31d4;
    transition: width 0.4s ease-in-out;
    content: " ";
  }

  &:before {
    left: 0;
    top: -2px;
  }

  &:after {
    bottom: -2px;
    right: 0;
  }

  &:hover {
    padding: 5px 25px 5px 35px;
    border-color: #0d31d4;
    color: lighten(#0d31d4, 50%);
    background-color: #021197 !important ;

    &:before,
    &:after {
      width: 100%;
    }
  }
}
.remember {
  color: white;
}
.message {
  color: #ff5d5d;
  font-size: 1rem;
}
