.container {

    display: flex;
    justify-content: space-between;

    .upload {
        width: 40%;
        border: 2px dashed #0798fffc;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-right: 1rem;

        .icons {
            font-size: 5rem;
            color: #0798fffc;
        }

        .text {
            letter-spacing: 1.5px;
            font-weight: 500;
            color: #0798fffc;
        }
    }

    .wrapper {
        width: 60%;
        height: 300px;
        border-radius: 20px;
        border: 2px dashed #0798fffc;

        .image {
            transition: opacity 0.1s ease-out;
            width: 99%;
            height: 295px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                opacity: 0.3;
            }
        }
    }

}